img {
    width: 100%;
    display: block;
}

.img-display {
    /* Ẩn các hình các hình khác */
    overflow: hidden;
}

.img-showcase {
    display: flex;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.product-content {
    padding: 0rem 0rem;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
    /* color: #12263a; */
    /* margin: 1rem 0; */
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.navbar a:hover {
    color: red;
    background-color: yellow;
}
a{
    text-decoration: none;
    color: black;
}
h5{
    text-align: center;
}
i{
    float: left;
}
.giua{
    text-align: center;
}